@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "lsRg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "lsBd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "lsTh";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  @apply font-sans;
}

* {
  --rdp-accent-color: #f88787;
  --rdp-background-color: #edc3c6;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #ed759d;
  --rdp-background-color-dark: #180270;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid #e96a6a;
}
.DayPicker {
  display: inline-block;
  font-size: 2rem;
  font-size: 2rem;
  z-index: 1000;
  background-color: rgb(255, 255, 255); /* 원하는 색상으로 변경 */
}
.rdp {
  background-color: rgb(255, 255, 255); /* 원하는 색상으로 변경 */
}

@layer {
  .center1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .center2 {
    display: flex;

    justify-content: center;
    align-items: center;
  }
}
